@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: #{$header_height}px;
  background-color: #00acdc;
  gap: 10px;

  &__search {
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;


  }

  &__btn {
    background-color: black;
    color: yellow;
    padding: 10px;
    border-radius: 8px;

    @include hover(background-color, yellow);
    @include hover(color, black);
  }
}